html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-image: url("bg3.jpg");
  background-repeat: no-repeat;
 background-size: 100% 100%;
  
      

}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #474747;
}
table, th, td {
     border-collapse: collapse;
     border: 4px solid rgba(73, 73, 73, 0.651);
     background-color: #d6bd9456;
     text-align: center;
}
 table {
     border-collapse: collapse;
     width:100%;
}
 td, th {
     border: 2px solid #474747;
     padding: 0.5rem;
     text-align: left;
}
 th {
     font-weight: bold;
}
.selected {
            background-color: #f3f3f3af;
            color: rgb(61, 4, 4);
}